WSF_TRACE_RESPONSE does not include Content-Type header

According to RFC 7231, section 4.3.8:

"The final recipient of the request SHOULD
   reflect the message received, excluding some fields described below,
   back to the client as the message body of a 200 (OK) response with a
   Content-Type of "message/http""
