Policy-driven framework should reject PUT requests that contain a Content-Range header

with a 400 response as per RFC 7231 section 4.3.4. As this framework is for writing origin servers only, this is a no-brainer.

So as soon as the router has selected a handler for the URI, then this check is appropriate.
