Add a last_modified routine to WSF_SKELETON_HANDLER

... just like the etag routine. 

See RFC 7232 section 2.2.1

Also generally add RFC section references to routine header comments (in this case, pointing out the SHOULD whenever can be reasonably and consistently determined).
